{% extends 'base.html' %}
{% load static %}

{% block title %}
  <h1>Git Practice </h1>
{% endblock %}
{% block  body %}
{% endblock %}
{% block content %}
  <h1>This is used for git practice.</h1>

    <p>
    <h3>Branch must be upto date.</h3>
    <h2>git delete branch:  Safe Delete: git branch -d &ltbranch name&gt</h2>
  </p>

    <p>
    <h3>Branch must be upto date.</h3>
    <h2>git delete website branch: git push --delete &ltbranch name&gt</h2>
  </p>
 </p>

    <p>
    <h3>To create a new branch.</h3>
    <h2>Create branch: git branch &ltbranch name&gt</h2>
  </p>

   </p>

    <p>
    <h3>Switch Branch.</h3>
    <h2>Switch: git push &lt git checkout &ltbranch name&gt</h2>
  </p>



{% endblock %}

