{% extends 'base.html' %}
{% load static %}

{% block head_title %}
  Git Practice 
{% endblock %}
{% block extra_head%}
<style>
  h3{
    color: #0d6efd;
  }
  body {
    background-color: #acb2b7;
  } 

</style>
{% endblock extra_head %}
{% block  body %}
{% endblock %}
{% block content %}

     
   
   <div class="card ms-5" style="width: 70rem;">
    <h1 class="card-title" style="text-align: center; color:greenyellow">Git Practice</h1>
    <ul class="list-group list-group-flush">
     
      <li class="list-group-item">
        <h3>Branch must be upto date.</h3>
        <h2>git delete branch:  Safe Delete: git branch -d &ltbranch name&gt</h2>
      </li>
     
      <li class="list-group-item">  
       <h3>Branch must be upto date.</h3>
       <h2>git delete branch:  Safe Delete: git branch -d &ltbranch name&gt</h2>
     </li>
     
     <li class="list-group-item">
         <h3>Branch must be upto date.</>
         <h2>git delete website branch: git push origin --delete &ltbranch name&gt</h2>
     </li>
     
     <li class="list-group-item">
         <h3>Branch must be upto date.</h3>
         <h2>git delete website branch: git push origin --delete &ltbranch name&gt</h2>
     </li>
     
     <li class="list-group-item">
         <h3>Git information:</h3>
         <h2>git information: git log --graph --all</h2>
     </li>
     
     <li class="list-group-item">
         <h3> To create a new branch.</h3>
         <h2>Create branch: git branch &ltbranch name&gt</h2>
     </li>
     
     <li class="list-group-item">
        <h3>Switch Branch.</h3>
        <h2>Switch: git push &lt git checkout &ltbranch name&gt</h2>
     </li>
    </ul>
  </div>
  


{% endblock %}

